.faqPage__container {
  height: 54.22vw;
  background: #FFFFFF;
  display: flex;
}

.faqPage__container .faqPage__imageContainer {
  width: 40.47vw;
  height: 54.22vw;
  background-image: url(../../images/FAQ.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.faqPage__container .faqPage__contantContainer {
  width: 58.53vw;
  height: 54.22vw;
  padding: 10.42vw 10.42vw 0 3.07vw;
}

.faqPage__container .faqPage__contantContainer h2 {
  font-family: 'Bebas Neue Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 121%;
  color: #141414;
}

.accordion__box {
  height: 20.83vw;
  margin-top: 5vw;
}

.accordion-button {
  height: 2.08vw;
  margin: 0;
  padding: 0 0.5vw;
  border: none;
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 138%;
}

.accordion {
  --bs-accordion-border-width: 0;
}

.faqPage__buttom {
  width: 23.18vw;
  height: 3.39vw;
  background: linear-gradient(180deg, rgba(254, 153, 98, 0.2) 0%, rgba(189, 80, 20, 0.2) 100%), #9F4C1E;
  border: 1px solid #8F4319;
  box-shadow: 0px 8px 24px rgba(107, 51, 20, 0.8);
  border-radius: 10px;
  font-family: 'Bebas Neue Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 121%;
  color: #FFFFFF;
  margin-top: 5.73vw;
}

@media (max-width: 1440px) {
  .faqPage__container {
    height: 72.29vw;
    background: #FFFFFF;
    display: flex;
  }
  .faqPage__container .faqPage__imageContainer {
    width: 39.03vw;
    height: 72.29vw;
    background-image: url(../../images/FAQ.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .faqPage__container .faqPage__contantContainer {
    width: 60.97vw;
    height: 72.29vw;
    padding: 13.89vw 3.4vw 0 3.06vw;
  }
  .faqPage__container .faqPage__contantContainer h2 {
    font-family: 'Bebas Neue Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 4.03vw;
    line-height: 121%;
    color: #141414;
  }
  .accordion__box {
    height: 27.78vw;
    margin-top: 5vw;
  }
  .accordion-button {
    height: 2.78vw;
    margin: 0;
    padding: 0 0.5vw;
    border: none;
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 1.67vw;
    line-height: 138%;
  }
  .accordion {
    --bs-accordion-border-width: 0;
  }
  .faqPage__buttom {
    width: 30.9vw;
    height: 4.51vw;
    background: linear-gradient(180deg, rgba(254, 153, 98, 0.2) 0%, rgba(189, 80, 20, 0.2) 100%), #9F4C1E;
    border: 1px solid #8F4319;
    box-shadow: 0px 8px 24px rgba(107, 51, 20, 0.8);
    border-radius: 10px;
    font-family: 'Bebas Neue Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 1.67vw;
    line-height: 121%;
    color: #FFFFFF;
    margin-top: 7.64vw;
  }
  .accordion-body {
    font-size: 1.39vw;
  }
}
