.desktop {
  position: fixed;
  top: 2.6vw;
  left: 14.84vw;
  display: block;
  z-index: 1000;
}

.table {
  display: none;
}

.phone {
  display: none;
}

.menu-container {
  width: 70.31vw;
  height: 5.2vw;
  background: rgba(173, 129, 87, 0.52);
  box-shadow: 0px -14px 24px rgba(173, 129, 87, 0.15), 0px 21px 27px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(9px);
  border-radius: 10px;
  padding: 0 2.08vw;
  display: flex;
  z-index: 1000;
}

.menu-container__logo {
  width: 13.80vw;
  height: 2.29vw;
}

.tablet__navigation {
  display: none;
}

.logo {
  width: 13.80vw;
  height: 2.29vw;
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 1.77vw;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0.94vw 0 0 0;
}

.logo__profession {
  width: 13.80vw;
  height: 2.29vw;
  text-align: center;
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 0.83vw;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0.89vw;
}

.navigation__container {
  display: flex;
}

.navigation ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

.navigation li {
  display: inline-block;
  margin: 1.83vw 0.26vw 0 3vw;
}

.navigation a {
  text-decoration: none;
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.navigation__phone {
  width: 11.67vw;
  height: 1.61vw;
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 1.83vw 0 0 3.23vw;
}

@media (max-width: 1440px) {
  .desktop {
    position: fixed;
    left: 3.13vw;
    top: 3.47vw;
    display: block;
    z-index: 1100;
  }
  .table {
    display: none;
  }
  .phone {
    display: none;
  }
  .menu-container {
    width: 93.75vw;
    height: 6.94vw;
    background: rgba(173, 129, 87, 0.52);
    box-shadow: 0px -14px 24px rgba(173, 129, 87, 0.15), 0px 21px 27px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(9px);
    border-radius: 10px;
    padding: 0 2.08vw;
    display: flex;
    z-index: 1100;
  }
  .menu-container__logo {
    width: 18.4vw;
    height: 3.06vw;
  }
  .tablet__navigation {
    display: none;
  }
  .logo {
    width: 18.4vw;
    height: 3.06vw;
    font-family: 'Open Sans Regular';
    font-size: 2.36vw;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0.94vw 0 0 0;
  }
  .logo__profession {
    width: 18.4vw;
    height: 1.46vw;
    text-align: center;
    font-family: 'Open Sans Regular';
    font-size: 1.11vw;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0.89vw;
  }
  .navigation__container {
    display: flex;
  }
  .navigation {
    padding: 0 0.69vw;
  }
  .navigation ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
  }
  .navigation li {
    display: inline-block;
    margin: 2.43vw 2.08vw 0 2.36vw;
  }
  .navigation a {
    text-decoration: none;
    font-family: 'Open Sans Bold';
    font-size: 1.67vw;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .navigation__phone {
    width: 15.56vw;
    font-family: 'Open Sans Bold';
    font-size: 1.67vw;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 2.43vw 0 0 2.08vw;
  }
}

@media (max-width: 768px) {
  .desktop {
    display: none;
  }
  .tablet {
    position: fixed;
    top: 5.2vw;
    left: 2.6vw;
    z-index: 1100;
  }
  .phone {
    display: none;
  }
  .menu-container {
    width: 94.79vw;
    height: 13.02vw;
    background: rgba(173, 129, 87, 0.52);
    box-shadow: 0px -14px 24px rgba(173, 129, 87, 0.15), 0px 21px 27px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(9px);
    border-radius: 10px;
    padding: 1.3vw 5.2vw;
    z-index: 1100;
    display: block;
    overflow: hidden;
  }
  .menu-container__logo {
    width: 34.5vw;
    height: 8.46vw;
  }
  .menu-container__big {
    width: 94.79vw;
    height: 77.34vw;
    background: rgba(173, 129, 87, 0.52);
    box-shadow: 0px -14px 24px rgba(173, 129, 87, 0.15), 0px 21px 27px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(9px);
    border-radius: 10px;
    padding: 1.3vw 5.2vw;
    z-index: 1000;
    display: block;
    overflow: hidden;
  }
  .tablet__viseble-container {
    width: 84.38vw;
    height: 10.42vw;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    width: 34.51vw;
    height: 5.73vw;
    font-family: 'Open Sans Regular';
    font-size: 4.43vw;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
  }
  .navigation__container {
    display: block;
  }
  .logo__profession {
    width: 34.5vw;
    height: 2.73vw;
    font-family: 'Open Sans Regular';
    font-size: 2.08vw;
    text-transform: uppercase;
  }
  .navigation__phone {
    width: 29.17vw;
    height: 4.04vw;
    font-family: 'Open Sans Bold';
    font-size: 3.13vw;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 3.26vw 0 0 3.13vw;
  }
  .button__container {
    width: 15.63vw;
    height: 10.42vw;
    padding: 3.26vw 0 0 9.38vw;
  }
  .menu__button {
    border: none;
    background-color: transparent;
  }
  .navigation {
    margin-bottom: 9.9vw;
  }
  .navigation ul {
    width: 84.38vw;
    list-style: none;
    padding-inline-start: 0;
    margin-top: 2.99vw;
  }
  .navigation li {
    width: 84.38vw;
    display: block;
    margin: 5.2vw 0 0 0;
    text-align: center;
  }
  .navigation a {
    text-decoration: none;
    font-family: 'Open Sans Regular';
    font-size: 3.13vw;
    line-height: 135%;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .navigation__socialIcon__box {
    width: 84.38vw;
    height: 5.47vw;
    display: flex;
    justify-content: space-around;
    padding: 0 24.74vw;
  }
  .navigation__socialIcon__box .docialIcon {
    width: 5.47vw;
    height: 5.21vw;
    border-radius: 50%;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
  }
  .navigation__socialIcon__box .instagram {
    background-image: url(../../images/icons/instagram.svg);
  }
  .navigation__socialIcon__box .viber {
    background-image: url(../../images/icons/viber_icon.svg);
  }
  .navigation__socialIcon__box .telegram {
    background-image: url(../../images/icons/telegram_icon.svg);
  }
}

@media (max-width: 376px) {
  .desktop {
    display: none;
  }
  .tablet {
    display: none;
  }
  .phone {
    display: block;
    position: fixed;
    top: 5.33vw;
    left: 2.13vw;
    z-index: 1001;
  }
  .menu-container {
    width: 95.73vw;
    height: 21.33vw;
    background: rgba(173, 129, 87, 0.52);
    box-shadow: 0px -14px 24px rgba(173, 129, 87, 0.15), 0px 21px 27px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(9px);
    border-radius: 10px;
    padding: 3.2vw 2.67vw;
    z-index: 800;
    display: block;
    overflow: hidden;
  }
  .menu-container__logo {
    width: 49.87vw;
    height: 13.87vw;
  }
  .menu-container__big {
    width: 95.73vw;
    height: 177.87vw;
    background: rgba(173, 129, 87, 0.52);
    box-shadow: 0px -14px 24px rgba(173, 129, 87, 0.15), 0px 21px 27px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(9px);
    border-radius: 10px;
    padding: 8.53vw 4.8vw;
    z-index: 1001;
    display: block;
    overflow: hidden;
  }
  .tablet__viseble-container {
    width: 95.73vw;
    height: 21.33vw;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    width: 49.87vw;
    height: 8.27vw;
    font-family: 'Open Sans Regular';
    font-size: 6.4vw;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
  }
  .logo__profession {
    width: 49.87vw;
    height: 5.6vw;
    font-family: 'Open Sans Regular';
    font-size: 4.27vw;
    text-transform: uppercase;
  }
  .navigation__container {
    display: block;
  }
  .navigation__phone {
    width: 59.73vw;
    height: 8.27vw;
    font-family: 'Open Sans Bold';
    font-size: 6.4vw;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 21.33vw 14.4vw;
  }
  .button__container {
    width: 21.33vw;
    height: 21.33vw;
    padding: 3.2vw 0 0 0;
  }
  .navigation {
    margin-bottom: 16px;
    padding: 0;
  }
  .navigation ul {
    width: 87.73vw;
    list-style: none;
    padding-inline-start: 0;
    margin-top: 6.13vw;
  }
  .navigation li {
    width: 85.07vw;
    display: block;
    margin: 10.67vw 0 0 0;
    text-align: center;
  }
  .navigation a {
    text-decoration: none;
    font-family: 'Open Sans Regular';
    font-size: 4.27vw;
    line-height: 135%;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .navigation__socialIcon__box {
    width: 84vw;
    height: 11.2vw;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  .navigation__socialIcon__box .docialIcon {
    width: 11.2vw;
    height: 10.67vw;
    border-radius: 50%;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
  }
  .navigation__socialIcon__box .instagram {
    background-image: url(../../images/icons/instagram.svg);
  }
  .navigation__socialIcon__box .viber {
    background-image: url(../../images/icons/viber_icon.svg);
  }
  .navigation__socialIcon__box .telegram {
    background-image: url(../../images/icons/telegram_icon.svg);
  }
}
