.menu-container {
  position: fixed;
  top: 2.6vw;
  left: 14.84vw;
  width: 70.31vw;
  height: 5.2vw;
  background: rgba(173, 129, 87, 0.52);
  box-shadow: 0px -14px 24px rgba(173, 129, 87, 0.15), 0px 21px 27px rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(9px);
  border-radius: 10px;
  padding: 0 2.08vw;
  display: flex;
  z-index: 1000;
}

.menu-container__logo {
  width: 13.80vw;
  height: 2.29vw;
}

.tablet__navigation {
  display: none;
}

.logo {
  width: 13.80vw;
  height: 2.29vw;
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 1.77vw;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0.94vw 0 0 0;
}

.logo__profession {
  width: 13.80vw;
  height: 2.29vw;
  text-align: center;
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 0.83vw;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 0.89vw;
}

.navigation__container {
  display: flex;
}

.navigation ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}

.navigation li {
  display: inline-block;
  margin: 1.83vw 0.26vw 0 3vw;
}

.navigation a {
  text-decoration: none;
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.navigation__phone {
  width: 11.67vw;
  height: 1.61vw;
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 1.25vw;
  line-height: 130%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 1.83vw 0 0 3.23vw;
}

@media (max-width: 1440px) {
  .menu-container {
    position: fixed;
    top: 3.47vw;
    left: 3.13vw;
    width: 93.75vw;
    height: 6.94vw;
    background: rgba(173, 129, 87, 0.52);
    box-shadow: 0px -14px 24px rgba(173, 129, 87, 0.15), 0px 21px 27px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(9px);
    border-radius: 10px;
    padding: 0 2.78vw;
    display: flex;
    z-index: 1000;
  }
  .menu-container__logo {
    width: 18.5vw;
    height: 3.06vw;
  }
  .logo {
    width: 18.5vw;
    height: 3.06vw;
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 2.36vw;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0.94vw 0 0 0;
  }
  .logo__profession {
    width: 18.5vw;
    height: 3.06vw;
    text-align: center;
    font-family: 'Open Sans Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 1.11vw;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0.89vw;
  }
  .navigation__container {
    display: flex;
  }
  .navigation ul {
    list-style: none;
    padding-inline-start: 0;
    margin: 0;
  }
  .navigation li {
    display: inline-block;
    margin: 2.43vw 0.35vw 0 4vw;
  }
  .navigation a {
    text-decoration: none;
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 1.67vw;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .navigation__phone {
    width: 15.56vw;
    height: 1.61vw;
    font-family: 'Open Sans Bold';
    font-style: normal;
    font-weight: 700;
    font-size: 1.67vw;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 2.43vw 0 0 4.3vw;
  }
}

@media (max-width: 768px) {
  .descktop__navigtion {
    display: none;
  }
  .menu-container {
    position: fixed;
    top: 40px;
    left: 20px;
    width: 728px;
    height: 100px;
    background: rgba(173, 129, 87, 0.52);
    box-shadow: 0px -14px 24px rgba(173, 129, 87, 0.15), 0px 21px 27px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(9px);
    border-radius: 10px;
    padding: 10px 40px;
    z-index: 1000;
    display: block;
    overflow: hidden;
  }
  .menu-container__logo {
    width: 265px;
    height: 65px;
  }
  .menu-container__big {
    position: fixed;
    top: 40px;
    left: 20px;
    width: 728px;
    height: 594px;
    background: rgba(173, 129, 87, 0.52);
    box-shadow: 0px -14px 24px rgba(173, 129, 87, 0.15), 0px 21px 27px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(9px);
    border-radius: 10px;
    padding: 10px 40px;
    z-index: 1000;
    display: block;
    overflow: hidden;
  }
  .tablet__viseble-container {
    width: 648px;
    height: 80px;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    width: 265px;
    height: 44px;
    font-family: 'Open Sans Regular';
    font-size: 34px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0;
  }
  .navigation__container {
    display: block;
  }
  .logo__profession {
    width: 265px;
    height: 21px;
    font-family: 'Open Sans Regular';
    font-size: 16px;
    text-transform: uppercase;
  }
  .navigation__phone {
    width: 224px;
    height: 31px;
    font-family: 'Open Sans Bold';
    font-size: 24px;
    line-height: 130%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 25px 0 0 24px;
  }
  .button__container {
    width: 120px;
    height: 80px;
    padding: 25px 0 0 72px;
  }
  .menu__button {
    border: none;
    background-color: transparent;
  }
  .navigation {
    margin-bottom: 76px;
  }
  .navigation ul {
    width: 648px;
    list-style: none;
    padding-inline-start: 0;
    margin-top: 23px;
  }
  .navigation li {
    width: 648px;
    display: block;
    margin: 40px 0 0 0;
    text-align: center;
  }
  .navigation a {
    text-decoration: none;
    font-family: 'Open Sans Regular';
    font-size: 24px;
    line-height: 135%;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  .navigation__socialIcon__box {
    width: 648px;
    height: 42px;
    display: flex;
    justify-content: space-around;
    padding: 0 190px;
  }
  .navigation__socialIcon__box .docialIcon {
    width: 42px;
    height: 40px;
    border-radius: 50%;
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center;
  }
  .navigation__socialIcon__box .instagram {
    background-image: url(../../images/icons/instagram.svg);
  }
  .navigation__socialIcon__box .viber {
    background-image: url(../../images/icons/viber_icon.svg);
  }
  .navigation__socialIcon__box .telegram {
    background-image: url(../../images/icons/telegram_icon.svg);
  }
}
