.header {
  display: flex;
}

.header__content {
  width: 50vw;
  height: 76.2vw;
  background: #9F4C1E;
  padding: 15.63vw 4.22vw 0 14.84vw;
}

.header__content h1 {
  width: 30.94vw;
  font-family: 'Bebas Neue Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 3.23vw;
  line-height: 119%;
  color: #FFFFFF;
  margin-bottom: 5.21vw;
}

.header__content p {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  font-size: 1.25vw;
  line-height: 130%;
  color: #FFFFFF;
}

.header__button {
  width: 14.27vw;
  height: 3.39vw;
  background: linear-gradient(180deg, rgba(254, 153, 98, 0.2) 0%, rgba(189, 80, 20, 0.2) 100%), #9F4C1E;
  border: 1px solid #8F4319;
  box-shadow: 0px 8px 24px rgba(107, 51, 20, 0.8);
  border-radius: 10px;
  font-family: 'Bebas Neue Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 1.25vw;
  line-height: 120%;
  color: #FFFFFF;
  margin-top: 5.21vw;
}

.header__image {
  width: 50vw;
  height: 76.2vw;
  background-image: url(../../images/Main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1440px) {
  .header {
    display: flex;
  }
  .header__content {
    width: 47.99vw;
    height: 99.79vw;
    background: #9F4C1E;
    padding: 20.83vw 4.22vw 0 3.13vw;
  }
  .header__content h1 {
    width: 41.25vw;
    font-family: 'Bebas Neue Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 4.3vw;
    line-height: 119%;
    color: #FFFFFF;
    margin-bottom: 6.94vw;
  }
  .header__content p {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 300;
    font-size: 1.67vw;
    line-height: 130%;
    color: #FFFFFF;
  }
  .header__button {
    width: 19.03vw;
    height: 4.51vw;
    background: linear-gradient(180deg, rgba(254, 153, 98, 0.2) 0%, rgba(189, 80, 20, 0.2) 100%), #9F4C1E;
    border: 1px solid #8F4319;
    box-shadow: 0px 8px 24px rgba(107, 51, 20, 0.8);
    border-radius: 10px;
    font-family: 'Bebas Neue Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 1.67vw;
    line-height: 120%;
    color: #FFFFFF;
    margin-top: 6.94vw;
  }
  .header__image {
    width: 52.01Svw;
    height: 99.79vw;
    background-image: url(../../images/Main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 768px) {
  .header {
    display: flex;
  }
  .header__content {
    width: 49.86vw;
    height: 119.79vw;
    background: #9F4C1E;
    padding: 26.56vw 1.04vw 0 2.6vw;
  }
  .header__content h1 {
    width: 46.22vw;
    font-family: 'Bebas Neue Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 4.69vw;
    line-height: 119%;
    color: #FFFFFF;
    margin-bottom: 5.21vw;
  }
  .header__content p {
    font-family: 'Open Sans Light';
    font-style: normal;
    font-weight: 300;
    font-size: 2.08vw;
    line-height: 130%;
    color: #FFFFFF;
  }
  .header__button {
    width: 35.68vw;
    height: 8.46vw;
    background: linear-gradient(180deg, rgba(254, 153, 98, 0.2) 0%, rgba(189, 80, 20, 0.2) 100%), #9F4C1E;
    border: 1px solid #8F4319;
    box-shadow: 0px 8px 24px rgba(107, 51, 20, 0.8);
    border-radius: 10px;
    font-family: 'Bebas Neue Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 3.13vw;
    line-height: 120%;
    color: #FFFFFF;
    margin-top: 5.21vw;
  }
  .header__image {
    width: 50.13vw;
    height: 119.79vw;
    background-image: url(../../images/Main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
