.footer {
  width: 98.9vw;
  height: 21.74vw;
  background-color: #000;
  color: #FFFFFF;
  padding: 3.47vw 3.13vw 0 3.13vw;
  display: flex;
  justify-content: space-between;
}

.footer a {
  text-decoration: none;
  color: #FFFFFF;
}

.footer__contactInformation .contactsText {
  margin-bottom: 2.6vw;
}

.footer__contactInformation span {
  font-family: 'Open Sans Bold';
  font-size: 1.39vw;
  line-height: 130%;
}

.footer__menu__social .socialIcon__box {
  margin: 0 auto;
}

.footer__legalInformation {
  width: 21.73vw;
}

.footer__legalInformation p {
  font-family: 'Open Sans Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 0.83vw;
  line-height: 130%;
}

.footer__navigation {
  width: 34.67vw;
}

.footer__navigation a {
  text-decoration: none;
  color: #FFFFFF;
}

.footer__navigation li {
  list-style: none;
  display: inline-block;
  margin: 0 2.23vw;
}

.footer__navigation ul {
  margin-block-start: 0;
  padding-inline-start: 0;
}

.developer {
  margin-top: 4.17vw;
}

.footer__menu {
  display: block;
}

@media (max-width: 768px) {
  .footer {
    width: 768px;
    height: 345px;
    background-color: #000;
    color: #FFFFFF;
    padding: 50px 20px 0 20px;
    display: flex;
    justify-content: space-between;
  }
  .footer a {
    text-decoration: none;
    color: #FFFFFF;
  }
  .footer__contactInformation .contactsText {
    margin-bottom: 2.6vw;
  }
  .footer__contactInformation span {
    font-family: 'Open Sans Bold';
    font-size: 16px;
    line-height: 130%;
  }
  .footer__menu__social .socialIcon__box {
    margin: 0 auto;
  }
  .footer__legalInformation {
    width: 223px;
  }
  .footer__legalInformation p {
    font-family: 'Open Sans Regular';
    font-size: 14px;
    line-height: 130%;
  }
  .footer__navigation {
    width: 34.67vw;
    text-align: center;
  }
  .footer__navigation a {
    text-decoration: none;
    color: #FFFFFF;
  }
  .footer__navigation li {
    list-style: none;
    display: block;
    margin: 0 0 20px 0;
  }
  .footer__navigation ul {
    margin-block-start: 0;
    padding-inline-start: 0;
  }
  .developer {
    margin-top: 4.17vw;
  }
  .footer__menu {
    display: block;
  }
}

@media (max-width: 376px) {
  .footer {
    width: 375px;
    height: 402px;
    background-color: #000;
    color: #FFFFFF;
    padding: 40px 9px 0 9px;
    display: flex;
    justify-content: space-between;
  }
  .footer a {
    text-decoration: none;
    color: #FFFFFF;
  }
  .footer__contactInformation .contactsText {
    margin-bottom: 2.6vw;
  }
  .footer__contactInformation span {
    font-family: 'Open Sans Bold';
    font-size: 16px;
    line-height: 130%;
  }
  .footer__menu__social .socialIcon__box {
    margin: 0 auto;
  }
  .footer__legalInformation {
    width: 223px;
  }
  .footer__legalInformation p {
    font-family: 'Open Sans Regular';
    font-size: 14px;
    line-height: 130%;
  }
  .footer__navigation {
    width: 34.67vw;
    text-align: center;
  }
  .footer__navigation a {
    text-decoration: none;
    color: #FFFFFF;
  }
  .footer__navigation li {
    list-style: none;
    display: block;
    margin: 0 0 20px 0;
  }
  .footer__navigation ul {
    margin-block-start: 0;
    padding-inline-start: 0;
  }
  .developer {
    margin-top: 4.17vw;
  }
  .footer__menu {
    display: none;
  }
}
