.modalWindow{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1000;
	.thanks-modal-window__container{
		width: 29.95vw;
		height: 15.63vw;
		background: #FFFFFF;
		position: relative;
		padding: 1vw 1vw 0 1vw;
		margin: 7vw auto;
		.button__container{
			width: 40px;
			padding-left: 26.5vw;
		}
		.closeButton{
			border: none;
			background-color: #FFFFFF;
		}
		.window__title{
			font-family: 'Open Sans Regular';
			font-style: normal;
			font-weight: 400;
			font-size: 2.08vw;
			line-height: 130%;
			text-transform: uppercase;
			color: #000000;
			margin: 2.24vw auto;
			text-align: center;
		}
		.window__text{
			font-family: 'Open Sans Regular';
			font-size: 20px;
			line-height: 175%;
			text-align: center;
			color: #141414
		}
	}
}